/* General container styling */
.app-container {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

/* Title styling */
.app-title {
    padding-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: rgb(106, 17, 203);
    display: inline-block;
    width: 100%;
    position: relative;
    background: linear-gradient(90deg, rgb(106, 17, 203), rgb(37, 117, 252)) text;
    
}
.app-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%);
    width: 100px;
    height: 3px;
    background: linear-gradient(90deg, rgb(106, 17, 203), rgb(37, 117, 252));
    border-radius: 3px;
    ;
}


/* Construction types container */
.construction-types {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

/* Individual construction card */
.construction-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #333;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect for cards */
.construction-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Icon styling */
.construction-icon {
    font-size: 40px;
    color: #007bff;
    margin-bottom: 10px;
}

/* Name styling */
.construction-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #333;
}