/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f7fc;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: auto; /* Allow scrolling */
}

.container {
  display: flex;
  height: 100vh;
}
