/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
    display: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
    min-height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}
